@import "tailwindcss";

/* This completely hides the scrollbar (use with caution) */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
  background-color: black;
}